@use "../../../styles//typography/global-tokens.scss" as gt;

.researchPage {
  .researchContainer {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > a {
      display: flex;
      gap: 8px;
      align-items: center;

      & > p {
        font-size: gt.$fontSize14;
        line-height: gt.$lineHeight20;
        font-weight: 500;
        color: var(--tg-theme-link-color);
      }
    }
  }
}
