@use "../../../../styles/colors.scss";
@use "../../../../styles/radius.scss";
@use "../../../../styles/typography" as gt;

.bottomNavigationItem {
  padding: 5px;
  border-radius: radius.$rounded3Xl;
  width: 25%;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  text-decoration: none;

  & > p {
    font-size: gt.$fontSize15;
    font-weight: gt.$fontWeight500;
    color: colors.$white;
    opacity: 0.8;
    margin-top: 8px;
  }

  .navIcon {
    width: 20px;
    height: 20px;
    color: colors.$white;
    opacity: 0.8;
  }
}

.active {
  background-color: colors.$bottomNavigationItemBg;
}
