// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
$fontFamily: system-ui, -apple-system, BlinkMacSystemFont, "Roboto",
  "Apple Color Emoji", "Helvetica Neue", sans-serif;

// fontSize
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize15: 15px;
$fontSize16: 16px;
$fontSize20: 20px;
$fontSize24: 24px;

// fontWeight
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;

// lineHeight
$lineHeight16: 16px;
$lineHeight20: 20px;
$lineHeight24: 24px;
$lineHeight28: 28px;
$lineHeight32: 32px;
$lineHeight36: 36px;

// fontStyle
$fontStyleNormal: normal;
