.container {
    .listContainer {
        margin: 1rem 1rem 0;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
}

.questCard {
    border-radius: 0.5rem;
    overflow: hidden;

    .image {
        display: block;
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }

    .body {
        background: var(--tg-bg-color);
        padding: 1rem;
        line-height: 1.5;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            text-transform: uppercase;
            font-weight: 500;

            .name {
                font-size: 1.125rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .status {
                &.ongoing {
                    color: var(--tg-theme-link-color);
                }

                &.finished {
                    color: var(--tg-theme-destructive-text-color);
                }
            }
        }

        .center {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            &.views {
                color: var(--tg-theme-hint-color);
                font-weight: 500;
            }

            &.time {
                color: var(--tg-theme-hint-color);
            }

            &.rewards {
                margin-top: 0.25rem;
                color: var(--tg-theme-hint-color);

                .list {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .item {
                        padding: 0 0.5rem;
                        border-radius: 0.25rem;
                        background: var(--tg-theme-secondary-bg-color);
                    }
                }
            }
        }
    }
}
