.container {
    position: fixed;
    top: calc(100dvh - 74.8px);
    bottom: unset !important;
    border-top: 1px solid #262f31;
    background: var(--background);
    box-shadow: 0 -1px 0 var(--tgui--divider);
    display: flex;
    justify-items: stretch;
    padding: 0 16px;
    padding-bottom: env(safe-area-inset-bottom);
}
