.title {
    position: relative;
    text-align: center;
    padding: 1rem;

    .icon {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translate(0, -50%);
    }
}
