@use "../../../styles/typography/global-tokens.scss" as gt;
@use "../../../styles/colors.scss";

.homePage {
  padding: 16px;

  .reward {
    margin-top: 16px;
    color: rgb(0, 255, 212);
    & > div {
      margin-top: 10px;
      display: flex;
      align-items: center;
      gap: 6px;
      p {
        font-weight: 600;
        font-family: gt.$fontOrbitron;
      }
    }
  }
}

.modalContent {
  padding: 16px;
  h4 {
    font-size: gt.$fontSize20;
    line-height: gt.$lineHeight28;
    color: colors.$primary;
    margin-bottom: 24px;
    font-family: gt.$fontOrbitron;
  }
  ul {
    padding-left: 16px;
    align-items: center;
    li {
      font-size: gt.$fontSize14;
      line-height: gt.$lineHeight20;
      color: colors.$textPrimary;
    }
  }
}
